<!--
<div>
<img style="top:0px; left:0px;width:100%; height:100vh; position:absolute;" src="https://lh3.googleusercontent.com/-3-0slH1K7Ug/XhR1NGpcEjI/AAAAAAAAATs/IgWQMzWtcXoycAUYzw9w1yPyH0wojPC9ACK8BGAsYHg/s0/finalcreative.png">
</div>
-->



<style>
body {
  background-image: url("https://lh3.googleusercontent.com/-3-0slH1K7Ug/XhR1NGpcEjI/AAAAAAAAATs/IgWQMzWtcXoycAUYzw9w1yPyH0wojPC9ACK8BGAsYHg/s0/finalcreative.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
a
{
color: white; 
}
a:hover
{
color: #6cf8b2;
}
</style>

<h1 align = "centre" > <font size = "7" color = "white"> <strong> CYBER SECURITY </strong> </font> </h1>
<h1 align = "centre" > <font size = "6" color = "white"> Capture the flag </font> </h1>

&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<br/>

<style>
p {
  text-align: left;
  font-size: 25px;
  margin-top: 0px;
}
</style>

<body>
<p><font color="white">Contest starts in</font></p>
<p id="demo"></p>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 25, 2020 12:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").style.color = "white";
  document.getElementById("demo").innerHTML =  days + "d :" + hours + "h :"
  + minutes + "m :" + seconds + "s ";
   
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").style.color = "white";
    document.getElementById("demo").innerHTML = "00:00:00 <br/>as the Contest has already started";
  }
}, 1000);
</script>

<div id="container" style="white-space:nowrap">
<div id="text" style="display:inline;">
<h1> <font size = "5" color = "white" > Join our <u><a href="https://app.slack.com/client/TFYAV1ZT4/CFXNK7QFK"  target="_blank">Slack Channel</a></u> for more </font> <h1>
</div>
<!--
<div id="image" style="display:inline; white-space:nowrap;"> 
<a href="https://app.slack.com/client/TFYAV1ZT4/CFXNK7QFK"  target="_blank">
    <img src="https://i.imgsafe.org/83/838d419344.png" style="width: 10%; height: 10%"/>
</a>

</div>
-->
</div>

